# Environment variables
.env

# Binaries for programs and plugins
bin/

# Generators created from OpenAPI spec
generated/

# Embeddable directory for serving static assets
statik/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim swap files
*.swp
# Dependency directories (remove the comment below to include it)
# vendor/
