language: minimal

branches:
  only:
  - master
  # https://docs.travis-ci.com/user/customizing-the-build/#safelisting-or-blocklisting-branches
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

jobs:

  include:

    - stage: test
      name: lint
      os: linux
      dist: xenial
      env: GIMME_GO_VERSION=1.12.9 GIMME_OS=linux GIMME_ARCH=amd64
      script:
        - make -e install lint

    - stage: test
      name: unit
      os: linux
      dist: xenial
      env: GIMME_GO_VERSION=1.12.9 GIMME_OS=linux GIMME_ARCH=amd64
      script:
        - make -e cover COVER_FILE=coverage.txt
      after_success:
        # Replace with coveralls if/when the repo is made public
        - bash <(curl -s https://codecov.io/bash)

    - stage: build
      if: type = push AND tag IS present
      name: linux
      os: linux
      dist: xenial
      env: GIMME_GO_VERSION=1.12.9 GIMME_OS=linux GIMME_ARCH=amd64 VERSION=${TRAVIS_TAG:1}
      script:
        # now we're going to create packages
        - $TRAVIS_BUILD_DIR/scripts/ci_create_packages.sh
        # upload packages to artifactory
        - $TRAVIS_BUILD_DIR/scripts/ci_upload_packages.sh

before_script:
  # https://github.com/travis-ci/gimme
  - eval "$(gimme)"
  - make -e build
