{
    "api_key": "{{ .Env.OPTIMIZELY_AMPLITUDE_API_KEY }}",
    "events": [
        {
            "user_id": "{{ .Message.UserContext.ID }}",
            "event_type": "{{ .Message.EventKey }}",
            "user_properties": {
                "Cohort": "Test A"
            },
            "country": "United States",
            "ip": "127.0.0.1"
        }
    ]
}
